<footer>
  <img
    class="logo-cube"
    src="/resources/sv-cube.png"
    alt="stones village logo"
  />
  <img
    class="logo-name"
    src="/resources/sv-name.png"
    alt="stones village logo"
  />
  <div class="navbar-menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/inventory">Inventory</a></li>
      <li><a href="/gallery">Gallery</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>
  <div class="footer-contact">
    <a href="mailto:info@stonesvillage.net">info@stonesvillage.net</a>
    <a href="https://maps.app.goo.gl/c4RnwW3tdTcgaGqE9"
      >8111 Jane St Unit No. 9</a
    >
    <a href="tel:+14372375062">437-237-5062</a>
  </div>
  <p>
    Copyright © <%- new Date().getFullYear() %> Shayan Abedi, Stones Village
    Inc.
  </p>
</footer>
