<div class="navbar">
    <div class="logo">
      <img id="logo-name" src="./resources/sv-name.png" alt="Company name" />
      <img id="logo-cube" src="./resources/sv-cube.png" alt="Company logo" />
    </div>
    <div class="navbar-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <div class="phone-menu-button">
        <img
          src="./resources/align-justify-svgrepo-com.png"
          alt="Menu Button"
        />
      </div>
      <div class="close-navbar-menu-mobile">
        <img
          src="./resources/close-svgrepo-com.png"
          alt="Close menu button"
        />
      </div>
    </div>
    <div class="navbar-menu-mobile">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <div class="navbar-links-mobile">
        <button id="tel">
          <a href="tel:+14372375062">
            <img
              src="./resources/icons8-phone-100.png"
              alt="Contact By Number"
            />
          </a>
        </button>
        <button id="instagram">
          <a target="_blank" href="https://www.instagram.com/stonesvillage/">
            <img src="./resources/iglogo.png" alt="Visit Instagram page" />
          </a>
        </button>
      </div>
    </div>
    <div class="navbar-links">
      <button id="instagram">
        <a target="_blank" href="https://www.instagram.com/stonesvillage/">
          <img src="./resources/iglogo.png" alt="Visit Instagram page" />
        </a>
      </button>
    </div>
  </div>