<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body>
    <%- include('partials/navbar.ejs') %>

    <div class="about">
      <div class="hidden page-banner">
        <div class="page-banner-overlay">
          <h1 class="title">About Us</h1>
        </div>
      </div>
      <div class="hidden about-content1">
        <img src="/resources/SV-min.png" alt="" />
      </div>
      <div class="hidden about-content2-container">
        <div class="about-content2">
          <div class="about-content2-text">
            <h2>A Legacy of Superior Stone Services from Dubai to Canada</h2>
            <h3>
              Welcome to Stones Village, the epitome of excellence in stone
              supply, precise fabrication, bespoke design, and expert
              installation services. Initially founded in the lively city of
              Dubai in 2002 by the visionary <strong>Ahmad Abedi</strong>, post-graduate in
              Mining Engineering, we have since expanded our operations and
              proudly established our presence in Vaughan, Ontario, Canada since
              2017. Today, we are delighted to offer our exceptional services to
              clients across the entire country.
            </h3>
          </div>
          <div class="about-content2-image"></div>
        </div>
        <div class="about-content3">
          <div class="about-content3-image"></div>
          <div class="about-content3-text">
            <h2>Our Mission</h2>
            <h3>
              Founded by Ahmad Abedi, Stones Village is not
              just about providing stone services; it's a mission to transform
              everyday spaces into extraordinary art pieces. His passion for
              excellence, attention to the finest details, and unwavering
              commitment to customer satisfaction have been the guiding
              principles of our journey, propelling us to achieve new heights
              and earn a stellar reputation in the industry.
              <br />
              <br />
              Specializing in luxurious Marble, Onyx, Granite, Quartz, and
              Porcelain, we bring a touch of elegance and timeless beauty to
              kitchens, bathrooms, and more, setting new benchmarks in
              craftsmanship and customer satisfaction in the stone industry.
            </h3>
          </div>
        </div>
        <div class="about-services-container">
          <h2>Services</h2>
          <div class="about-services">
            <div class="about-services-card">
              <h3>Stone Supply</h3>
              <p>
                Stones Village offers a premium selection of Marble, Onyx,
                Granite, Quartz, and Porcelain, each chosen for its exceptional
                beauty and durability.
              </p>
            </div>
            <div class="about-services-card">
              <h3>Design</h3>
              <p>
                Our design team expertly guides you in selecting stones that
                perfectly enhance and complement your space.
              </p>
            </div>
            <div class="about-services-card">
              <h3>Fabrication</h3>
              <p>
                Our Denver Tecnika Elite 5 ensures precision in stone
                fabrication, delivering unmatched quality and detail.
              </p>
            </div>
            <div class="about-services-card">
              <h3>Installation</h3>
              <p>
                Our skilled installation team guarantees a flawless finish,
                focusing on precision from measurement to final placement for
                lasting beauty and quality.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/index.js"></script>

    <%- include('partials/footer.ejs') %>
  </body>
</html>
