@media (min-width: 1921px) {
  .banner1 {
    background-size: 2900px !important;
    background-position: 0 !important;
  }

  .banner2 {
    background-size: 3360px !important;
    background-position: -500px -1000px !important;
  }

  .banner3 {
    background-size: 3900px !important;
    background-position: -900px -500px !important;
  }

  .banner4 {
    background-size: 3330px !important;
    background-position: -100px -700px !important;
  }
}

@media (max-width: 1440px) {
  /* Home */

  .logo {
    padding: 0 10px 0 10px;
  }

  .card-container {
    width: 90%;
  }

  .summary-container {
    width: 85%;
  }

  .example-container {
    width: 85%;
  }

  .review-container {
    width: 85%;
  }

  .carousel-item {
    width: 800px;
  }

  /* Contact */

  .contact-banner {
    height: 440px;
  }

  /* Gallery */
}

@media (max-width: 1300px) {

  /* Home */

  .banner1,
  .banner2,
  .banner3,
  .banner4,
  .banner5,
  .banner-overlay {
    height: 900px;
  }

  .banner1 {
    background-size: 1700px !important;
    background-position: -230px 50px !important;
  }

  .banner2 {
    background-size: 2260px !important;
    background-position: -400px -500px !important;
  }

  .banner3 {
    background-size: 2200px !important;
    background-position: -500px -500px !important;
  }

  .banner4 {
    background-size: 2330px !important;
    background-position: -200px -400px !important;
  }

  .banner-overlay h1 {
    font-size: 60px;
  }

  .banner-overlay p {
    font-size: 40px;
  }


  .example-pictures {
    width: 400px;
    height: 400px;
    gap: 10px;
  }

  .example-pictures img {
    height: 190px;
    width: 190px;
  }

  .example-description {
    height: 400px;
  }

  /* Contact */

  .contact-banner {
    height: 400px;
  }

  .contact-list {
    width: 1000px;
  }

  .contact-list-item {
    width: 260px;
    height: 260px;
  }

  .contact-list img {
    height: 26px;
  }

  .contact-list h2 {
    font-size: 28px;
  }

  .contact-list li {
    font-size: 22px;
  }

  .contact-form {
    width: 100%;
  }

  #input-name,
  #input-email {
    width: 455px;
  }

  #input-msg {
    width: 935px;
    display: block;
  }

  iframe {
    width: 955px;
  }

  /* Gallery */

  .gallery-showcase {
    padding: 0;
    width: 95%;
  }

  .page-banner-overlay h2 {
    width: 90%;
    text-align: center;
  }

  /* About */

  .about-content1,
  .about-content2,
  .about-content3,
  .about-services-container,
  .about-services {
    width: 100%;
  }

  .about-content1 img {
    width: 85%;
  }

  .about-services-card {
    width: 90%;
  }

  /* Inventory */

  .inventory-container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1160px) {
  /* Home */

  .navbar-menu a {
    font-size: 15px;
  }

  .example-description p,
  .summary-description p {
    line-height: 30px;
  }

  .carousel-item {
    width: 600px;
  }

  .review-stars {
    margin: 5px 0;
  }

  /* Gallery */

  .gallery-showcase {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1024px) {
  /* Home */

  .navbar-menu a {
    font-size: 13px;
    margin: 0 1em;
  }

  .card-container {
    width: 95%;
  }

  .card {
    width: 85%;
    height: 90%;
  }

  .card img {
    height: 6em;
  }

  .card-description {
    font-size: 14px;
    line-height: 22px;
  }

  .summary-container {
    width: 90%;
  }

  .summary-description p {
    font-size: 13px;
    line-height: 25px;
  }

  .summary-image img {
    height: 450px;
  }

  .example-container {
    width: 90%;
  }

  .example-pictures {
    width: 330px;
    height: 330px;
  }

  .example-pictures img {
    height: 160px;
    width: 160px;
  }

  .example-description {
    height: 330px;
  }

  .example-description p {
    font-size: 13px;
    margin: 0 0;
    line-height: 25px;
  }

  #example-instagram {
    width: 120px;
    height: 40px;
    border-radius: 2px;
  }

  #example-instagram img {
    height: 28px;
  }

  /* Contact */

  .contact-list {
    width: 800px;
  }

  .contact-list-item {
    width: 210px;
    height: 230px;
  }

  .contact-list img {
    height: 22px;
  }

  .contact-list h2 {
    font-size: 22px;
  }

  .contact-list li {
    font-size: 18px;
  }

  .contact-form {
    width: 100%;
  }

  #input-name,
  #input-email {
    width: 400px;
  }

  #input-msg {
    width: 825px;
    display: block;
  }

  iframe {
    width: 845px;
  }

  /* Inventory */

  .show-only-pic img {
    width: 95%;
  }
  
}

@media (max-width: 900px) {
  /* Home */
  .navbar {
    grid-template-columns: 1fr 0.5fr;
  }

  .navbar-menu-mobile {
    width: 100%;
    grid-column: span 2;
  }

  #logo-name {
    height: 20px;
  }

  #logo-cube {
    height: 30px;
  }

  .navbar-links {
    display: none;
  }

  .navbar-menu ul {
    display: none;
  }

  .phone-menu-button {
    display: grid;
    align-items: center;
  }

  .banner1 {
    background-size: 1700px !important;
    background-position: -250px -20px !important;
  }

  .banner2 {
    background-size: 1860px !important;
    background-position: -500px -400px !important;
  }

  .banner3 {
    background-size: 2000px !important;
    background-position: -500px -400px !important;
  }

  .banner4 {
    background-size: 2000px !important;
    background-position: -300px -350px !important;
  }

  .banner1,
  .banner2,
  .banner3,
  .banner4,
  .banner5,
  .banner-overlay {
    height: 800px;
  }

  .banner-overlay h1 {
    font-size: 50px;
    width: 95%;
  }

  .banner-overlay p {
    width: 95%;
    top: 200px;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
  }

  .banner-overlay {
    grid-template-rows: 0.1fr 0.23fr 1fr;
  }

  .banner-overlay span {
    font-size: 20px;
  }

  .banner-overlay button {
    font-size: 16px;
    width: 150px;
    height: 50px;
  }

  .summary-container,
  .example-container {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
  }

  .summary-description {
    order: 2;
  }

  .summary-image {
    text-align: center;
    margin: 0 auto;
  }

  .summary-image img {
    height: 300px;
    width: 300px;
    object-fit: cover;
  }

  .example-description {
    order: 1;
  }

  .example-content {
    text-align: center;
    margin: 0 auto;
  }

  .example-content,
  .example-description,
  .summary-image,
  .summary-description {
    height: 320px;
  }

  .title {
    text-align: center;
  }

  .card-container {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: none;
  }

  .card-title {
    margin-top: 100px;
    margin-bottom: 0;
  }

  .card {
    padding: 10px;
    width: 70%;
    height: 300px;
    margin: 20px auto;
  }

  .carousel-item {
    width: 450px;
    grid-template-rows: 1fr 2fr 1fr;
    align-items: start;
  }

  .review-text {
    font-size: 14px;
  }

  /* About Us */

  .about-content2,
  .about-content3 {
    grid-template-columns: none;
    margin: 10px auto;
  }

  .about-content2 {
    grid-template-rows: 1fr 1fr;
  }

  .about-content3 {
    grid-template-rows: 1fr 1fr;
  }

  .about-content2-text,
  .about-content3-text {
    width: 85%;
    padding: 0;
  }

  .about-content2-image,
  .about-content3-image {
    width: 85%;
    height: 400px;
  }

  .about-content3-image {
    order: 1;
    background-size: 1000px;
    background-position: -230px -300px;
  }

  .about-services-container {
    margin: 0 auto;
  }

  .about-services {
    grid-template-columns: none;
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto;
  }

  /* Contact */

  .contact-list {
    width: 95%;
  }

  .contact-list img {
    height: 20px;
  }

  .contact-list h2 {
    font-size: 20px;
  }

  .contact-list li {
    font-size: 18px;
  }

  .contact-list-item {
    width: 190px;
  }

  .contact-form {
    width: 100%;
  }

  form {
    width: 100%;
  }

  .contact-form input,
  .contact-form textarea {
    display: block;
    width: 85% !important;
  }

  .contact-map {
    height: 350px;
  }

  iframe {
    width: 92%;
  }

  /* Inventory */
  .inventory-container {
    grid-template-columns: 1fr;
  }

  .back-up {
    left: 85%;
    bottom: 10%;
    height: 50px;
    width: 50px;
  }

  .back-up img {
    height: 30px;
    border-radius: 50%;
    width: 30px;
  }
}

@media (max-width: 720px) {
  /* Home */

  .banner1 {
    background-size: 1700px !important;
    background-position: -350px -20px !important;
  }

  .banner2 {
    background-size: 1860px !important;
    background-position: -600px -400px !important;
  }

  .banner3 {
    background-size: 2000px !important;
    background-position: -600px -400px !important;
  }

  .banner4 {
    background-size: 2000px !important;
    background-position: -400px -350px !important;
  }

  .carousel-item {
    width: 320px;
  }

  /* Contact */

  .contact-banner {
    height: 300px;
  }

  .contact-list {
    margin: 20px auto;
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);
  }

  .contact-list-item {
    width: 80%;
    margin: 30px auto;
  }

  .contact-list img {
    height: 32px;
  }

  .contact-list h2 {
    font-size: 32px;
  }

  .contact-list li {
    font-size: 28px;
  }

  .contact-form h3 {
    margin: 40px auto 10px auto;
    width: 80%;
  }

  .contact-form h4 {
    margin: 10px auto 40px auto;
    width: 80%;
  }

  /* Gallery */

  .gallery-showcase {
    grid-template-columns: 1fr;
  }

  .page-banner-overlay h2 {
    font-size: 18px;
    line-height: 28px;
  }

  /* About */

  .about-content2 {
    grid-template-rows: 1fr 0.9fr;
  }

  .about-content3 {
    grid-template-rows: 1fr 0.7fr;
  }

  .about-content3-image {
    background-size: 900px;
    background-position: -230px -250px;
  }

  /* Inventory */

  .filter {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 500px) {
  /* Home */

  .banner1 {
    background-size: 1500px !important;
    background-position: -370px -20px !important;
  }

  .banner2 {
    background-size: 1660px !important;
    background-position: -800px -350px !important;
  }

  .banner3 {
    background-size: 1800px !important;
    background-position: -700px -400px !important;
  }

  .banner4 {
    background-size: 1800px !important;
    background-position: -600px -300px !important;
  }

  .banner1,
  .banner2,
  .banner3,
  .banner4,
  .banner5,
  .banner-overlay {
    height: 740px;
  }

  .banner-overlay h1 {
    font-size: 40px;
  }

  .banner-overlay p {
    font-size: 20px;
  }

  .example-content,
  .example-description,
  .summary-image,
  .summary-description {
    height: 360px;
  }

  .example-pictures {
    height: 300px;
    width: 300px;
  }

  .example-pictures img {
    height: 130px;
    width: 130px;
  }

  .carousel-item {
    width: 280px;
    height: 280px;
  }

  .review-stars {
    font-size: 26px;
  }

  .review-text {
    font-size: 12px;
    line-height: 20px;
  }

  .review-name {
    font-size: 12px;
  }

  .review-container .title {
    font-size: 16px;
  }

  .review-container button {
    font-size: 16px;
    width: 150px;
    height: 50px;
  }

  /* Contact */

  .contact-list-item {
    margin: 25px auto;
  }

  .contact-list img {
    height: 30px;
  }

  .contact-list h2 {
    font-size: 30px;
  }

  .contact-list li {
    font-size: 26px;
  }

  /* Inventory */

  .show-pic-card {
    width: 310px;
    height: 460px;
  }

  /* About */

  .about-content2 {
    grid-template-rows: 1fr 0.7fr;
  }

  .about-content3 {
    grid-template-rows: 1fr 0.6fr;
  }

  .about-content3-image {
    background-size: 800px;
    background-position: -300px -200px;
  }

  .about-content2 h2,
  .about-content3 h2,
  .about-services-container h2 {
    font-size: 24px;
  }

  .about-content2 h3,
  .about-content3 h3 {
    font-size: 16px;
  }

  .about-services-card h3 {
    font-size: 22px;
  }

  /* Footer */

  .footer-contact {
    display: grid;
    place-items: center;
  }
}

@media (max-width: 425px) {
  /* Home */

  .banner-overlay h1 {
    font-size: 36px;
  }

  .banner-overlay p {
    font-size: 26px;
    font-weight: 400;
  }

  .carousel-item {
    width: 230px;
    height: 280px;
  }

  /* Inventory */

  .inventory-item {
    width: 300px;
    height: 300px;
    background-size: 900px !important;
    background-position: -160px -125px !important;
  }

  /* Contact */

  .contact-map {
    height: 250px;
  }

  /* About */

  .about-content2 {
    grid-template-rows: 1fr 0.6fr;
  }

  .about-content3 {
    grid-template-rows: 1fr 0.55fr;
  }
}

@media (max-width: 400px) {
  /* Gallery */

  .navbar {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-item img {
    height: 280px;
    width: 280px;
    margin: 20px 0;
  }

  .example-content,
  .example-description,
  .summary-image,
  .summary-description {
    height: 380px;
  }

  .example-pictures {
    height: 300px;
    width: 300px;
    gap: 0;
  }

  .example-pictures img {
    height: 130px;
    width: 130px;
  }

  /* Inventory */

  .filter {
    grid-template-columns: repeat(2, 1fr);
  }

  .show-pic-card {
    width: 290px;
    padding: 15px;
    height: 460px;
  }
}
